*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-container{
    /*height: 100vh;
    width: 100%;*/
    background-color: #121212;
}

.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    background-color: #121212;
}

.graphics-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    width: 100%;
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
}